@charset "UTF-8";

.main {
	width: 1130px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.section-colum {
	width: 1130px;
	height: 300px;
	display: flex;
	margin: 10px 0px;
}

.section-colum:hover {
	cursor: pointer;
}

.section-colum:hover article img {
	transform: scale(1.1, 1.1);
	
}

.section-colum:hover .title-article {
	z-index: 10;
	text-decoration: underline;
	cursor: pointer;
}

.img-article {
	width: 300px;
	height: 300px;
	overflow: hidden;
}

article img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	transition-duration: 300ms;
}

.div-article {
	flex: 1;
	display: flex;
	padding: 0px 0px 0px 10px;
	flex-direction: column;
	justify-content: space-around;
	flex-direction: column;
}

.title-article {
	font-size: 20px;
	font-weight: 900;
}

.content-article {
	
}

.stars-article {
	
}