@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
a {
	text-decoration: none;
	color : inherit;
}
body {
	background-color: #e7e7e77a;
}
img.img-list-home {
	object-fit : cover;
}
header {
	display: flex;
	position: relative;
	background-color: white;
	height: 70px;
	/* box-shadow: 0 0 10px 1px #d7d7d7; */
	border-bottom: 1px solid #4444444a;
	min-width: 1190px;
	align-items: center;
	align-content: center;
	z-index: 1000 !important;
}
div.btn-profile img.img-profile {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit : cover;
	border:1px solid black
}

div.top_nav {
	position: relative;
	width: 1030px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

div.logo_box {
	/* 	width: 200px; */
	display: flex;
	cursor: pointer;
	/* position: absolute;
	left: 0; */
	margin-right: auto;
}

div.logo_box .logo {
	width: 200px;
	height: auto;
}

.hidden-box {
	
	transition: opacity 200ms;
	opacity: 0;
	visibility: hidden;
}
.profile-menu-container{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	text-align: end;
	justify-content : space-between;
	border: 1px solid #c9c9c9;
	position: absolute;
	border-radius: 6px;
	border-top-right-radius : 0; 
	border-bottom-right-radius: 0;

	font-weight: 700;
	
	top:66px;
	right:0;
	background: #fff;
	width: 100px;
    height: 150px;
    z-index: 101;
}
.profile-menu-container .profile-logout {
	color: red;
}
.profile-menu-container .profile-logout img.img-logout {
	width : 28px;
}
div.profile-menu {
	padding: 14px 5px;
}
div.profile-menu:hover {
	background-color: #7ca7d161;
	
}
div.profile-menu a{
	text-decoration: inherit;
	color: inherit;
	
}

.visibility {
	visibility: visible;
	opacity: 1;
/* 	display: flex !important; */
}

/* div.cookcook:hover .drop-menu {
	visibility: visible;
	opacity: 1;
} */
.drop-menu-container {
	padding: 30px 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #d7d7d7;
	position: absolute;
	width: 1031px;
	background-color: #fff;
	top: 66px;
	left: 0;
	z-index: 100;
	/* transform : translateY(-1rem); */
	box-sizing: border-box;
}

.drop-menu-container>div {
	height: 50px;
	padding: 20px 0;
	width: 300px;
}

.drop-menu-container>div:nth-child(1), .drop-menu-container>div:nth-child(2)
	{
	border-right: 1px solid #aaa;
}

.drop-menu-close {
	position: absolute;
	width: 33px !important;
	height: 16px !important;
	padding: 0.5rem !important;
	bottom: -1px;
	right: 0;
	background-color: #2c2d30;
	color: #fff;
	text-align: center;
	line-height: 16px;
	font-size: 16px;
	border-top-left-radius: 5px;
}

.drop-menu-search {
	width: 200px;
	font-size: 24px;
	line-height: 24px;
}

.drop-menu-search input {
	width: 200px;
	font-size: 20px;
	line-height: 20px;
	margin-top: 10px;
}

div.search_box {
	/* box-shadow: 0 0 8px 0 #d7d7d7; */
	border: 1px solid #d7d7d7;
	border-radius: 10px;
	display: flex;
	position: relative;
	height: 42px;
	margin-left: 25px;
}
div.search_box fieldset {
	margin:0;
 	padding:0; 
}
div.search_box input[type=text] {
	width: 355px;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 5px;
	border-radius: 10px;
	padding-left: 10px;
}

div.search_box button {
	cursor: pointer;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	border: none;
	outline: none;
	background-color: white;;
	width: 40px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

div.profile {
	margin-left: 25px;
	cursor: pointer;
}

main {
	min-width: 1190px;
	height: 100%;
/* 	padding-bottom: 150px; */
}

fieldset {
	border: none;
	outline: none;
}

div.middle_nav {
	position: relative;
	width: 1030px;
	margin: auto;
}

div.middle_nav div.container {
	position: relative;
	height: 55px;
	display: flex;
	justify-content: flex-end;
	/* align-content: center; */
	align-items: center;
}

/* div.search_box {
	display: block;
	width: 400px;
	border: 2px solid #ff7f00;
	border: 0;
	box-shadow : 0 0 8px 0 #d7d7d7;
	position: absolute;
	left: 210px;
	top: 10px;
	border-radius: 10px;
} */
div.content_main {
	position: relative;
	width: 1030px;
	/* padding : 20px 50px 0 50px; */
	margin: 15px auto;
}

div.content_top {
	position: relative;
	width: 1030px;
	height: 600px;
	margin: 0 auto;
	padding-top : 50px;
	padding-bottom : 50px;
	
	background-image: url(../../resources/images/cooking.jpg);
	background-size: cover;
}

div.content_top>div {
	color: black;
}

div.content_top div {
	position: absolute;
	background-color: #fff;
	color: black;
	font-size: 30px;
	font-weight: 600;
	padding: 20px;
	bottom: 26px;
	right: 27px;
}

div.content_top div:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
	cursor: pointer;
}

div.content_main .listname {
	display: inline-block;
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 700;
}

div.content_main .listname h3 {
	
}

div.content_main .list_box {
	position: relative;
	display: flex;
	flex-direction: column;
}

#list_today {
	position: relative;
	/* width: 1130px; */
	display: flex;
	justify-content: space-between;
	margin: 0 25px;
}

#list_today li {
	align-items: center;
	display: inline-block;
	text-align: left;
}

#list_today li:hover {
	cursor: pointer;
}

#list_today .text-box:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 2px;
}

#list_today li div:first-child {
	width: 320px;
	height: 280px;
	overflow: hidden;
	border: 1px solid #aaa;
}

#list_today li:hover img {
	transform: scale(1.05, 1.05);
}

#list_today li div img {
	width: 320px;
	height: 280px;
	object-fit: cover;
	transition-duration: 200ms;
}
img.img-login {
	width:30px;
}

div.text-box {
	margin: 5px;
	font-weight: 500;
	font-size: 20px;
}

/* #today {
	position: relative;
	display: flex;
}
#today:nth-of-type(2) {
	width: 600px;
	height: 400px;;
	
}
div.bracket-box {
	height : 100%;
	width : 50px;
	position: absolute;
}
div.bracket-box:hover {
background-color: #aaa;
	
	}
div.bracket-left i {
	top : 120px;
	left:15px;
	}
div.bracket-right i {
	top : 120px;
	right:15px;
	}
	 */
.font_highlight {
	color: #ff7f00 !important;
}

.ico_cookcook {
	width: 50px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
}

footer {
	display: flex;
	position: relative;
	background-color: #cdcdcd;
	height: 70px;
	border-top: 1px solid #4444444a;
	/* box-shadow: 0 0 5px 1px #6c6c6c; */
	min-width: 1190px;
	align-items: center;
	align-content: center;
}

footer ul {
	width: 1030px;
	margin: 0 auto;
	display: flex;
}

footer ul li {
	
}

footer ul li:not(:first-child) {
	margin-left: 25px;
}

/*
	다크모드 관련
*/
.btn-theme {
	position: absolute;
	right: -300px;
	cursor: pointer;
}

.dark-theme-body {
	background-color: #252525;
	color: #fff;
}

.dark-theme-bold {
	background-color: #303030 !important;
	color: #fff !important;
}

.dark-theme-header {
	border-bottom: 1px solid #444444e3 !important;
}
.dark-theme-footer{
	border-top: 1px solid #444444e3 !important;
}

.dark-theme-drop { 
	border: 1px solid #444444e3 !important;
	background-color: #303030 !important;
	color: #fff;
	
}