@charset "UTF-8";

nav.cho-nav-mypage {
	position: relative;
	width: 1030px;
	margin: 0 auto;
}

nav.cho-nav-mypage ul {
	display: flex;
	flex-direction: row;
}

nav.cho-nav-mypage ul li {
	padding: 12px 12px;
	font-size:  16px;
	margin : 0 5px;
}
nav.cho-nav-mypage ul li:hover {
	cursor: pointer;
	font-weight: 900;
		
	
	}