@charset "UTF-8";

main.cho-main-mypage {
	min-width: 1190px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

nav.cho-nav-mypage {
	position: relative;
	width: 1030px;
}

nav.cho-nav-mypage ul {
	display: flex;
	flex-direction: row;
}

nav.cho-nav-mypage ul li {
	padding: 12px 12px;
	font-size: 16px;
	margin: 0 5px;
	font-weight: 700;
}

input.cho-nickname::placeholder {
	color: red;
}

nav.cho-nav-mypage ul li:hover {
	cursor: pointer;
}

div.cho-container-mypage {
	width: 1030px;
}

div.cho-container-mypage2 {
	margin: 35px;
}

div.cho-container-mypage .cho-mypage-top {
	padding-bottom: 50px;
	border-bottom: 1px solid #4444444a;
	width: 900px;
}
.cho-mypage-top{
	position: relative;
	
}
a.cho-btn-regrecipe {
	position:  absolute;
		padding: 5px 12px;
	margin: 5px;
	border: 1px solid #4444444a;
	right: 0;
	bottom : 50px;
	
}

.cho-mypage-top p {
	color: #666666;
}

.cho-mypage-middle {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 50px;
	border-bottom: 1px solid #4444444a;
	width: 900px;
}

.cho-mypage-middle-pass {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 50px;
	border-bottom: 1px solid #4444444a;
	width: 900px;
}

.cho-myrecipe-middle {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 50px;
	border-bottom: 1px solid #4444444a;
	width: 900px;
}

div.cho-myrecipe-list {
	
	border-bottom: 1px solid #4444444a;
	position: relative;
}
div.cho-myrecipe-list-inner {
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-bottom : 30px;
	margin-top: 30px;
}
}
div.cho-myrecipe-list-inner:hover {
	cursor: pointer;
}
div.cho-myrecipe-content {
	margin-right: 10px;
	padding: 15px 10px;
	flex : 1;
}


div.cho-myrecipe-img, div.cho-myrecipe-content {
	}
a {
	text-decoration: none;
	color : inherit;
}
.cho-button-box {
	width: 1030px;
	margin: 0 auto;
	display: flex;
}
div.cho-myrecipe-img {
	border: 1px solid blue;
	margin-left: 30px;
	margin-right: 30px; width : 200px;
	height: 200px;
	object-fit: cover;
	width: 200px;
}

.cho-mypage-middle .cho-edit-photo {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.cho-edit-btns {
	display: flex;
	justify-content: flex-end;
}

.cho-mypage-middle .cho-edit-status {
	margin: 0 0 0 30px;
}

.cho-mypage-middle .cho-edit-status div {
	font-weight: 800;
	font-size: 16px;
}

.cho-mypage-middle .cho-edit-status input {
	height: 32px;
}

.cho-edit-status input, .cho-edit-status textarea {
	margin: 8px 0 16px;
	padding: 0 10px;
	width: 400px;
	border: 1px solid #4444444a;
}

.cho-edit-status textarea {
	padding-top: 5px;
}

.cho-mypage-middle .cho-edit-photo img {
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 1px solid black;
}

.btn-edit-photo, .ch-button-insert, .cho-btn-delete {
	padding: 5px 12px;
	margin: 5px;
	border: 1px solid #4444444a;
	width: 28px;
}

.btn-edit-photo:hover {
	cursor: pointer;
}

.cho-mypage-bottom {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	display: flex;
}

.cho-mypage-bottom button {
	padding: 5px 12px;
	margin: 5px;
	border: 1px solid #4444444a;
	outline: none;
}