<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cho.recipe.persistance.ContentListDao">
	<select id="selectAll" resultType="DosungPostVO">
		select * from tbl_recipe
	</select>
	
	<select id="findByPostSeq" resultType = "DosungPostVO">
		select * from tbl_recipe 
		where RCP_SEQ = #{post_seq}
	</select>
	
	<insert id="insert" parameterType="DosungPostVO">
		<selectKey keyProperty="RCP_SEQ" resultType="Long" order="BEFORE">
			Select seq_recipe.nextval from dual
		</selectKey>
			insert into tbl_recipe(	
					RCP_SEQ		,
					RCP_NM		,
					rcp_content,
					ATT_FILE_NO_MK	,
					INFO_ENG		 ,
					RCP_PARTS_DTLS	,
					HASH_TAG	    		
					)
				values 
					(
					#{RCP_SEQ},
					#{RCP_NM},
					#{rcp_content},
					#{ATT_FILE_NO_MK},
					#{INFO_ENG},
					#{RCP_PARTS_DTLS},
					#{HASH_TAG}
					)
			</insert>
	
</mapper>