<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cho.recipe.persistance.ContentListDao">
	<select id="selectAll" resultType="DosungPostVO">
		select * from tbl_recipe
	</select>
	
	<select id="findByPostSeq" resultType = "DosungPostVO">
		select * from tbl_recipe 
		where post_seq = #{post_seq}
	</select>
	<!--manual_seq 이 칼럼은 ContentVO에 있는 값  -->
	<select id="findByContnetID" resultType="DosungPostVO">
		select * from tbl_recipe 
		where RCP_SEQ = #{manual_seq}
	</select>
	<select id="findByRecipeID" resultType="DosungManualVO">
		select * from tbl_recipe_manual 
		where MANUAL_SEQ = #{RCP_SEQ}
	</select>
	
</mapper>